@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir-Bold-FD.eot?#") format("eot"), url(/font/Vazir-Bold-FD.woff2) format("woff2"), url(/font/Vazir-Bold-FD.woff) format("woff"), url(/font/Vazir-Bold-FD.svg) format("svg");
    font-weight: 700
}

@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir-Black-FD.eot?#") format("eot"), url(/font/Vazir-Black-FD.woff2) format("woff2"), url(/font/Vazir-Black-FD.woff) format("woff"), url(/font/Vazir-Black-FD.svg) format("svg");
    font-weight: 900
}

@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir-Thin-FD.eot?#") format("eot"), url(/font/Vazir-Thin-FD.woff2) format("woff2"), url(/font/Vazir-Thin-FD.woff) format("woff"), url(/font/Vazir-Thin-FD.svg) format("svg");
    font-weight: 200
}

@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir-Light-FD.eot?#") format("eot"), url(/font/Vazir-Light-FD.woff2) format("woff2"), url(/font/Vazir-Light-FD.woff) format("woff"), url(/font/Vazir-Light-FD.svg) format("svg");
    font-weight: 300
}

@font-face {
    font-family: 'vazir';
    src: url("/font/Vazir-Medium-FD.eot?#") format("eot"), url(/font/Vazir-Medium-FD.woff2) format("woff2"), url(/font/Vazir-Medium-FD.woff) format("woff"), url(/font/Vazir-Medium-FD.svg) format("svg");
    font-weight: 400
}

.IRANSansUltraLight {
    font-family: vazir;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 200
}

.IRANSansLight {
    font-family: vazir;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 300
}

.IRANSans {
    font-family: vazir;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 400
}

.IRANSansBold {
    font-family: vazir;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 700
}

.IRANSansBlack {
    font-family: vazir;
    color: #000;
    margin-right: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
    font-weight: 900
}