body {
    font: 16px Vazir, sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: red;
}

.title-div {
    width: 50px;
    height: 50px;
    background-color: orangered;
    /*color: white;*/
}

.favorite-posts-div {
    width: 280px;
    height: 200px;
    background-color: white;
    border: 2px solid white;
}

.new-posts-div {
    width: 300px;
    height: 200px;
    background-color: white;
    border: 2px solid white;
}

button.btn-signin {
    text-decoration: none;
}

button.btn-signin:hover, button.btn-signin:focus {
    text-decoration: none;
}

.btn-link:hover {
    color: #ff5722;
}

.btn-link {
    color: rgba(0, 0, 0, 0.5);
}

.login-btn {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}

.nav-link {
    transition-duration: 0.4s;
    font: 15px IRANSans;

}

.dropdown-item:hover {
    -webkit-transition-duration: 0.4s;
    color: #ff5722;
}

.dropdown-item {
    transition-duration: 0.4s;
    font: 12px IRANSans;
    text-align: right;
}
.bg-light {
    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0 2px 5px -6px #6d6d6d;
    -moz-box-shadow: 0 2px 3px -5px #6d6d6d;
    box-shadow: 0 0 9px -2px #6d6d6d;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1040;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 768px) {
    .top-topics .col-lg-3 .img-fluid {
        height: 160px !important;
    }
}

/*#dashboard-buttons{*/
/*width: 1000px;*/
/*height: auto;*/
/*}*/

.top-topics {
    margin-top: 90px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.image-slider img:hover {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.image-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-topics img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.carousel-inner img:hover {
    opacity: 1;
}

.product-div1 {
    position: relative;
    overflow: hidden;
}

.title-article {
    margin-top: 15px;
    background-color: #e64a19 !important;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    border-right: 15px solid #bf360c;
    max-width: 200px;
}

.title-article h4 {
    text-align: center;
    font: 15px IRANSans;
}

.title-article2 {
    margin-top: 15px;
    background-color: #e64a19 !important;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    border-right: 15px solid #bf360c;

}

.content {
    width: 340px;
    height: 250px;
    margin: 10px 0;
    background-color: #ffffff;
    /*border-radius: 10px;*/
    box-shadow: 0 0 8px -1px #6d6d6d;

}

.content a {
    text-decoration: none;
    color: black;
    /*font: 2px Tahoma ;*/
    font-family: sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content a:hover{
    color: red;
}

.content img {
    margin-bottom: 10px;
    width: 340px;
    height: 180px;
    /*margin-right: 10px;*/
    /*margin-top: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}

.content h6 {
    margin-right: 10px;
    margin-left: 5px;
    font: 12px IRANSans;
}

.large-content {
    width: 740px;
    height: 200px;
    margin-top: 10px;
    margin-right: -15px;
    background-color: #ffffff;
    /*border-radius: 10px;*/
    box-shadow: 0 0 8px -1px #6d6d6d;
}

.large-content img {
    width: 190px;
    height: 130px;
    margin-top: 15px;
    margin-right: 15px;
}

#page-3 .content {
    margin: 10px 0;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 0 1px -1px #6d6d6d;
}

#page-3 .content img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 13px;
    margin-right: 13px;
}

.topicCategories {
    position: absolute;
    bottom: -8px;
    margin-right: 15px;
}

.topicCategories label {
    position: relative;
    bottom: 0;
    left: 0;
    background: #e64600;
    color: #ffffff;
    padding: 1px 1px;
    font-size: 9px;
    cursor: pointer;
}

.post-title {
    width: 350px;
    height: 70px;
    font: bold 12px IRANSans;
}

.post-title a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    font: bold 12px IRANSans;
}

.post-title a:hover{
    color: red;
}

.post-title h6{
    /*text-align: center;*/
    padding: 5px;
    font: bold 14px IRANSans;

}

#page-3 .post-title {
    font: bold 12px IRANSans;
}

.post-info {
    width: auto;
    height: auto;
    font-size: 12px;
    color: grey;
    background-color: white;
    margin-left: 20px;
    margin-right: 10px;
}

.single-post {
    width: 1000px;
    height: auto;
    /*background-color: red;*/
    /*color: red;*/
}


.single-post-image {
    width: 1000px;
    height: auto;
}

.single-post-image img {
    width: 500px;
    height: 300px;
    margin-bottom: 15px;
}

.single-post-title {
    width: auto;
    height: auto;
    color: red;
}

.single-post-title h5 {
    font: bold 15px IRANSans;
}

.single-post-description {
    width: auto;
    height: auto;
}

.single-post-description  p {
    font: 12px IRANSans;
}

single-post-comments textarea {
    width: 400px;
    height: 500px;
}

#page-3 .post-info {
    font-size: 10px;
    color: grey;
    background-color: #f1f1f1;
    margin-left: 20px;
}

.post-content {
    /*width: auto;*/
    /*height: auto;*/
    font: 13px IRANSans;
    margin-right: 10px;
}

.post-content p{
    font: 10px IRANSans;
}

#page-3 .post-content {
    font: 10px IRANSans;
}

.post-author, .post-date, .post-time, .post-comments {
    display: inline-block;
    margin-right: 10px;

}

.post-date i{
    text-align: right;
}

.post-comments {
    float: left;
}

.post-comments {
    float: left;
}

.event-title {
    font: 12px IRANSans;
}

.event-image {
    margin-top: 10px;
    font: bold 12px IRANSans;
}

.title-video {
    margin-top: 15px;
    background-color: #e64a19 !important;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    border-right: 15px solid #bf360c;
}

.event-video img {
    margin-top: 10px;
}

.most-seen-title {
    font: 12px IRANSans;
}

.title-most-seen {
    margin-top: 15px;
    background-color: #e64a19 !important;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    border-right: 12px solid #bf360c;
}

.most-seen-image {
    margin-top: 25px;
}

/*Footer style*/
.search-text {

    color: #000000;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-text .input-search {
    height: 34px;
    width: 70%;
    padding-left: 20px;
    color: #333;
    font: 16px IRANSans;
}

.search-text .input-search::placeholder {
    color: #8d8d8d;
    font-size: 14px;
}

.search-text .btn-search {
    cursor:pointer;
    background: #ff6e22;
    border: none;
    color: #FFF;
    height: 34px;
    width: 80px;
}

.btn-search:hover {
    color: black;
}

.search-text h4 {
    color: #FFF;
    font-weight: 700;
}

footer {
    background-color: #33383c;
    /*padding: 5px 0;*/
    width: 100%;
}

.logo img {
    margin-top: 20px;
    border-radius: 10px;
    width: 15%;

}

.logo-title {
    margin-top: 40px;
    color: #c7c7c7;
}

.copy-right {
    color: #c7c7c7;
    /*margin-right: 100px;*/
    /*float: left;*/
}

.copyright h6 {
    font: 5px IRANSans;
}

.address span, .menu span {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a, .menu li a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
}

.address li, .menu li {
    margin: 20px 0;
    list-style: none;
}

.address li a:hover, .menu li a:hover {
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.line {
    width: 100%;
    background-color: #ff5722;
    height: 2px;
}

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-pinterest:hover {
    background: #cb2027;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-flickr:hover {
    background: #FF57AE;
}

.social .fa-instagram:hover {
    background: #375989;
}

.social .fa-vimeo-square:hover {
    background: #83DAEB;
}

.social .fa-stack-overflow:hover {
    background: #FEA501;
}

.social .fa-dropbox:hover {
    background: #017FE5;
}

.social .fa-tumblr:hover {
    background: #3a5876;
}

.social .fa-dribbble:hover {
    background: #F46899;
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.social .fa-stack-exchange:hover {
    background: #4D86C9;
}

.social .fa-youtube:hover {
    background: #FF1F25;
}

.social .fa-xing:hover {
    background: #005C5E;
}

.social .fa-rss:hover {
    background: #e88845;
}

.social .fa-foursquare:hover {
    background: #09B9E0;
}

.social .fa-youtube-play:hover {
    background: #DF192A;
}

body {
    background-color: #f5f5f5 !important;
    font-family: IRANSans;
}

.nav-link:hover, .nav-link:focus {
    box-shadow: 0 0.4em 0.6em -0.4em #ff6e22;
    color: #ff6e22 !important;
}

#single .top-topics {
    overflow: hidden;
    position: relative;
    text-align: center;
}

#single .carousel-item {
    display: flex;
    justify-content: center;

}

#single .content {
    box-shadow: inherit;
    background-color: inherit;
}

.top-clear {
    margin-top: 100px;
}

#single .title-article, #page-3 .title-article {
    margin-bottom: 15px;
    max-width: 202px;
    margin-top: 0;
}

.contentbox {
    background-color: #ffffff;
    width: 500px;
    height: 200px;
}

.contentbox h1 {
    padding: 10px;
    color: #000000;
    font: bold 18px IRANSans;
}

.comments {
    width: 800px;
    height: auto;
    /*background-color: blue;*/
}

.comment {
    background-color: white;
    border-radius: 5px;
}

.comment img {
    width: 80px;
    height: 80px;
    margin: 10px 10px;
}

.comment-user-name {
    width: auto;
    height: auto;
}

.comment-user-name h6 {
    font: 12px IRANSans;
    color: gray;
    margin: 20px 10px;
}

.comment-time {
    width: auto;
    height: auto;
}

.comment-time h6 {
    font: 12px IRANSans;
    color: gray;
    margin: 20px 10px;
}

.comment span {
    margin: 15px 5px;
    color: red;
    vertical-align: baseline;
}

.comment-body {
    width: auto;
    height: auto;
}

.comment-body p {
    font: 12px IRANSans;
    margin-right: 20px;
}

.panel-heading h6 {
    /*padding: 10px;*/
    font: 5px IRANSans;
    /*font-size: 6px;*/
}

.panel-body a {
    position: relative;
    font-size: 18px;
    padding: 5px;
    text-decoration: none !important;
    background-color: #f4f4f4;
}

a:hover {
    color: #10a3e4;
}

.lines {
    background-color: #a9a9a9;
    height: 2px;
    width: 75%;

}

.panel-default {
    border-radius: 5px;

}

.contentbox-2 h1 {
    padding: 10px;
    color: #000000;
    font: bold 16px IRANSans;

}

.contentbox {
    border-radius: 5px;
}

.panel-heading-2 h4 {
    padding: 10px;
    font: 13px IRANSans;
}

#single .topicCategories, #page-3 .topicCategories {
    position: relative;
    bottom: 30px;
}

#single .topicCategories label {
    padding: 1px 1px;
}

#page-3 .topicCategories label {
    padding: 1px;
}

.topicCategories2 label {
    position: relative;
    bottom: 0;
    left: 0;
    background: #fe9900;
    color: #000000;
    padding: 1px 2px;
    font-size: 10px;
    cursor: pointer;
}

.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.btn-danger {
    background-color: #33383c !important;
    border-color: grey !important;
}

.btn-danger:hover {
    background-color: #33383c;
    color: #ff7800;
}

/*user comments*/

.comments-count {
    width: 130px;
    height: 40px;
    background-color: #e64a19;
    border-radius: 10px;
}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.comments-count h5 {
    color: white;
    margin-top: 20px;
    text-align: center;
    font: 15px IRANSans;
}

.comments-count span {
    float: left;
}
.panel-white {
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 30px;
    float: right;
}

.post .post-heading .avatar {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
    font: 10px IRANSans;
}

.post .post-image img {
    width: 1200px;
    height: auto;
}

.post .post-description {
    padding: 25px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.stats a {
    color: orangered;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}

.title .h5 a {
    font: 16px IRANSans;
    text-decoration: none;
}

.center-pic a .img-fluid {
    max-width: 100%;
    height: auto;

}

.pic-text {
    font: 12px IRANSans;
}

.text-center {
    font: bold 25px IRANSans;
    background: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    position: absolute;
    width: 96.5%;
    height: 50px;
    margin: auto;
    text-align: center;
    top: 321px;
    bottom: 0;
    right: 0;
    left: 0;
}

.line-center-pic {
    width: 100%;
    background-color: #b8b8b8;
    height: 12px;
}

.center-post {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.center-post .post-hover-title {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.center-post img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.center-post h2 {
    font: 14px IRANSans;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
}

.center-post a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 25px 0 0;
    padding: 7px 14px;
}

.center-post a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.center-post:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.center-post:hover .post-hover-title {
    opacity: 1;
    filter: alpha(opacity=100);
}

.center-post:hover h2, .center-post:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.center-post:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.content-pic img {
    width: 100%;
    height: 200px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 13px;
    border-radius: 0;
}

.card-body h4 {
    font: 10px IRANSans;
    color: black;
}

.image-sidebar .card {
    border-radius: 0;
    width: 100%
}

.card {
    border: 0;
    border-radius: 0;
}

.page-link {
    font-size: 13px;
}

.myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
    display: none;
}

.pagination-div {
    width: 530px;
    height: 60px;
    background-color: white;
}

.pagination-page-count {
    width: 200px;
    height: auto;
    color: blue;
    margin-left: 30px;
    margin-top: 50px;
}

.pagination-page-count p{
    font: 12px IRANSans;
    /*margin-left: 30px;*/
    /*margin-top: 50px;*/
    /*margin-bottom: 10px;*/
}

.pagination {
    margin-left: 90px;
    margin-top: -10px;
    margin-bottom: 10px;
    direction: ltr;
    language: persian;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 960px;
    height: 500px;
}

.image-slider {
    width: 1000px;
    height: 500px;
}

.fa-thumbs-up {
    color: #ffbf0c;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 20px;
    margin-left: 10px;
}

.fa-thumbs-up:hover {
    color: #ff5310;
}

.fa-thumbs-down {
    color: #ffbf0c;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 20px;
    margin-left: 10px;
}

.fa-thumbs-down:hover {
    color: #ff5310;
}

.nav-tabs
{
    margin-bottom: 10px;
    /*border-color: red;*/
}

.nav-tabs ul li
{
    color: red;
    /*border-color: red;*/
}

.nav-tabs a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font: 15px IRANSans;
}

.nav-tabs a:hover
{
    color: gray;
    /*background-color: gray;*/
}

.modal-body input {

    font: 12px IRANSans;
}


#wrap body, div, h3, h2, form, fieldset, input, textarea, footer, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

#wrap h3 {
    color: #26558f;
}

#form_wrap form label{
    font: 15px "IRAN Sans";
}

#form_wrap input {
    font: 15px "IRAN Sans";

}

@font-face {
    font-family: 'IRANSans';
    font-weight: normal;
    font-style: normal;
}

#wrap body {
    color: #7c7873;
}

#wrap {
    width: 530px;
    margin: 20px auto 0;
    height: 500px;
}

#wrap p {
    text-shadow: 0 1px 0 #fff;
    font-size: 24px;
}

#wrap h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    text-shadow: 0 1px 0 #ede8d9;
}

#form_wrap {
    overflow: hidden;
    height: 446px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    /*background: url('images/before.png');*/
    width: 530px;
    height: 316px;
}

#form_wrap:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    /*background: url('images/after.png');*/
    width: 530px;
    height: 260px;
}

#form_wrap.hide:after, #form_wrap.hide:before {
    display: none;
}

#form_wrap:hover {
    height: 776px;
    top: -200px;
}

#wrap form {
    /*background: #f7f2ec url('images/letter_bg.png');*/
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:hover form {
    height: 530px;
}

#form_wrap label {
    margin: 11px 20px 0 0;
    font-size: 16px;
    color: #b3aba1;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
}

#form_wrap input[type=text], textarea {
    font: 14px normal normal uppercase helvetica, arial, serif;
    color: #7c7873;
    background: none;
    width: 380px;
    height: 36px;
    padding: 0px 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
}

#form_wrap textarea {
    height: 80px;
    padding-top: 14px;
}

#form_wrap textarea:focus, input[type=text]:focus {
    background: rgba(255, 255, 255, .35);
}

#form_wrap input[type=submit] {
    position: relative;
    font-size: 24px;
    color: #7c7873;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
    background: none;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: opacity .6s ease-in-out 0s;
    -moz-transition: opacity .6s ease-in-out 0s;
    -o-transition: opacity .6s ease-in-out 0s;
    transition: opacity .6s ease-in-out 0s;
}

#form_wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out 1.3s;
    -moz-transition: opacity .5s ease-in-out 1.3s;
    -o-transition: opacity .5s ease-in-out 1.3s;
    transition: opacity .5s ease-in-out 1.3s;
}

#form_wrap:hover input:hover[type=submit] {
    color: #435c70;
}












































